You have successfully signed up to example.com,
your customer: #{@ticket.participant_name} is having complaint.

Try to solve it immediately and suggest resolution period for this problem

To login to the site, just follow this link: #{@url}.

Thanks for reading and have a great day!