- if user_signed_in?
  %html
    %head
      %script{:src => "http://code.highcharts.com/highcharts.js"}
      %script{:src => "http://code.highcharts.com/modules/exporting.js"}
    %body
      .col-md-2.col-md-offset-1.bg-warning
        %font{:size => "4"} Resolved Ticket:
        %font{:size => "4"}
          = @ticket_resolved
      .col-md-2.bg-danger
        %font{:size => "4"} Pending Ticket:
        %font{:size => "4"}
          = @ticket_processing
      .col-md-2.bg-primary
        %font{:size => "4"} New Ticket:
        %font{:size => "4"}
          = @ticket_new
      #barchart{:style => "width: 400px; height: 500px; margin-right: 425px; margin-top: 75px"}
        .hidden-fields{:style => "display: none;"}
          = content_tag "div", id: "BarDiv", data: {stuff: @status} do
            %br      