%html
  %head
    %script{:src => "http://code.highcharts.com/highcharts.js"}
    %script{:src => "http://code.highcharts.com/modules/exporting.js"}
  %body
    #linechart{:style => "min-width: 310px; height: 500px; margin: 2%"}
      .hidden-fields{:style => "display: none;"}
        = content_tag "div", id: "xDiv", data: {stuff: @num.values} do
          %br
        = content_tag "div", id: "yDiv", data: {stuff: @num.keys} do
          %br
    #container{:style => "min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"}
      .hidden-fields{:style => "display: none;"}
        = content_tag "div", id: "kDiv", data: {stuff: @per} do
          %br