- if user_signed_in?
  #div1.well
    %center
      %h3 Your transaction is successful :)
      %br/
      %br/
      %b Your request is under progress and you will get response shortly.....
      %br/
      %br/
      = link_to("continue",tickets_path, class: 'btn btn-primary btn-xs')
      %br/
  %p
    Contact
    %strong Birdvision
    For Further Assistance.