<center>
	<div class="complain_success">
		<span>
			<h3 style="font-style: oblique; line-height: 2em"> Your complain is successfully registered with us. We will message you shortly on your registered
				mobile number.</h3>
		</span>
	</div>
</center>
